[Desktop Entry]
Name=turntable
Exec=turntable
Icon=assets/turntable.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape
Name[en_US]=turntable.desktop
